.movie_wrapper {
  width: 90%;
  
}

.movie_scroll {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 10px;
  scrollbar-width: none;
  padding-bottom: 10px;
}
.movie_scroll::-webkit-scrollbar {
  display: none;
}

.movie-card {
  width: 250px;
  position: relative;
  flex-shrink: 0;
}

.card {
  border: none !important;
  border-radius: 10px !important;
  overflow: hidden;
}

.rating_card {
  position: absolute;
  bottom: 0;
  background-color: var(--primary-sub-color);
  border-radius: 0 0 10px 10px;
  opacity: 0.8;
  color: var(--secondary-sub-color) !important;
  width: 95%;
  padding: 3px;
}

