:root {
  --primary-main-color: #d71921;
  --secondary-main-color: #2C2B2B;
  --primary-sub-color: #040404;
  --secondary-sub-color: #FFFFFF;
}

.text_font{
  color:var(--primary-main-color);
}

.title_font{
  font-weight:600;
  font-size: 28px;
}